/metaMOBinTheShopProject/.classpath
/metaMOBinTheShopProject/target/classes/com/mkyong/hello/MainPage$1.class
/metaMOBinTheShopProject/target/**
/metaMOBinTheShopProject/target/classes/com/mkyong/hello/MainPage.class
/metaMOBinTheShopProject/target/classes/com/mkyong/hello/Item.class
/._.DS_Store
/metaMOBinTheShopProject/._.DS_Store
/org.dieschnittstelle.jee.esa.jpa/build/classes/org/
/sharedLib/build/classes/org/
/org.dieschnittstelle.jee.esa.jpa/.classpath
/sharedLib/.classpath