@charset "UTF-8";
/* CSS Document */
*{
	padding:0;
	list-style:none;
	border:none;
	text-decoration:none;
}

body {
	height:100%;
	/*font-family: 'PT Sans', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
	background: url(images/sitegrey.png);
	margin:18px 0 0 0;
	font-weight:300;
		-webkit-font-smoothing: antialiased;

}

/*.tttest {
	height:100%;
	background-color:#F00;
	background: url(images/tttest.jpg) 50% 0 no-repeat;
	margin:-18px 0 0 0;
	padding:25px 0 0 0;
}*/

a {
	text-decoration:none;
	color:#000;
	cursor:pointer;
}

a:hover {
	text-decoration:none;
	cursor:pointer;
}

.leftContent a {
	text-decoration:none;
	color:#000;
	cursor:pointer;
}


h1 {
	font-size:18px;
	font-weight:300;
	margin:0;
	padding:0 0 8px 0;
}


h1.kategorie {
	background:url(images/kategorie.png) 1px 5px no-repeat;
	padding-left:23px;
}
h1.touchpointlocate {
	background:url(images/touchpointlocate.png) 1px 4px no-repeat;
	padding-left:23px;
}
h1.lastorder {
	background:url(images/lastorders.png) 1px 5px no-repeat;
	padding-left:25px;
}

h2 {
	font-size:14px;
	margin:0 0 10px 0;
	font-weight:lighter; 
	background-color:#374140;
	color:#FFF;
	padding:3px 3px 3px 7px;
}

h3 {
	font-size:14px;
	margin:0 0 12px 0;
	font-weight:normal;
	background-color:#CEF09D;
	padding:3px;
	float:left;
	margin-left:12px;
}


input[type='range'] {
	-webkit-border-radius: 2px;
	background-color: #999;
	display: block;
	height: 2px;
	margin: 2px 0px 10px 0px;
	width:140px;
	height:5px;
}


.button {
	color:#FFF;
}

.button:hover {
	background-color: #cdf237;
	color:#333;
}




.container {
	margin:auto;
	position:relative;
	background-color:#FFF;
	width:962px;
	box-shadow: 0 0 4px #BBB;
	-moz-box-shadow: 0 0 4px #BBB;
	-webkit-box-shadow: 0 0 4px #BBB;
	margin-bottom:10px;
} 

	
/* ---------------------------- HEADER -------- */

.logo {
	position:absolute;
	top:20px;
	left:13px;
}

header {
	padding: 18px 10px 10px 18px;
	height:36px;
	position:relative;
}


/* --- HEADER NAVIGATION --- */
nav.headerNav {
	float:right;
	font-size:14px;
	padding:0;
	margin:0 0 0 0;
}

nav.headerNav ul {
	padding:0;
	margin:0;
}

nav.headerNav li {
	float:left;
	padding:0 3px 0 0;
	vertical-align:middle;
	margin:0;
}





/* --- ENDE - HEADER NAVIGATION --- */

.user {
	float:right;
	margin:3px 7px 0 0;
	font-size:13px;
	}



/* ---------------------------- HEADER ENDE --- */




/* ---------------------------- SLIDER -------- */

.slider {
	margin:10px 10px 20px 10px;
	width:942px;
	height:1px;
	
	background-color:#DDD;
}



/* ---------------------------- SLIDER ENDE --- */



/* ---------------------------- SLIDER -------- */

.leftContent {
	width:220px; 
	float:left;
	padding: 0 10px 10px 10px;
}

.rightContent {
	padding:10px;
	width:690px; 
	border: 1px solid rgba(143,158,139,.2);
	/*background-color:#F8FFF1;*/
	float:left;
	margin-bottom:20px;
}

/* ---------------------------- SLIDER ENDE -------- */

/* --- List 1 NAVIGATION --- */
nav.list {
	/*padding: 0 10px 10px 10px;*/
	font-size:14px;
	margin:0;
	padding:0;
}

nav.list ul {
	padding: 5px 10px 10px 10px;
	margin:0 0 10px 0;
	border: 1px solid rgba(143,158,139,.3);
	border-top:0;
	background-color:rgba(143,192,217,0.08);

}

nav.list li {
	cursor:pointer;
	padding:9px 0 9px 4px;
	/*border-bottom: 1px solid rgba(143,158,139,.4);*/
	border-bottom: 1px solid rgba(255,255,255,1.0);
	border-top: 1px solid rgba(143,158,139,.15);
	
}
nav.list li:first-child {
	border-top: 0px solid rgba(143,158,139,.4);
}
nav.list li:last-child {
	border-bottom: 0px solid rgba(143,158,139,.4);
}


nav.list a:hover {
	padding-left:17px;
	background-color: rgba(255,255,255,.3);
	
	font-weight:700;
	background:url(images/actkat.png) 0 5px no-repeat;
	
}

nav.list a.aktiv {
	padding-left:17px;
	background-color: rgba(255,255,255,.3);
	
	font-weight:700;
	background:url(images/actkat.png) 0 5px no-repeat;
}


nav.list a.aktiv:hover {
	padding-left:17px;
	background-color: rgba(255,255,255,.3);
	font-weight:700;
	background:url(images/actkat.png) 0 5px no-repeat;
}





/* --- ENDE - List 1 NAVIGATION --- */

.listhead {
	/*border: 1px dotted #93F;*/
	border-bottom:0;
	padding:5px 0 0 8px;
	background-color:#002E40;
	color:rgba(255,255,255,0.9);
	background-image:url(images/corner.png);
	background-repeat:no-repeat;
	background-position:right top;
	
}


button.cart {
  background:url(images/cartsmall.png) 6px 6px no-repeat;
  margin:0 0 0 10px;
  background-color: #002E40;
  /*border-bottom: 2px solid #FF6761;*/
  font-weight:700;
  color: #FFF;
  padding: 6px 10px 7px 30px;
  text-align: center;
  cursor:pointer;
}

button.cart:hover {
	background:url(images/cartsmallhover.png) 6px 6px no-repeat;
    background-color: #FF6761;
	color:#000;
 	/*border-bottom: 5px solid #002E40;*/
	
}
.productsincart {
	margin:0 5px 0 -2px;
  background-color: #FF6761;
  /*border-bottom: 2px solid #FF6761;*/
  color: #002E40;
  padding: 4px 10px 0px 10px;
  text-align:center;
  cursor:default;
  font-weight:300;
  height:22px;
}




button.but {
	  margin:0 5px 0 5px;
	  background-color: #002E40;
	  /*border-bottom: 2px solid #FF6761;*/
	  font-weight:700;
	  color: #FFF;
	  padding: 6px 10px 7px 10px;
	  text-align: center;
	  cursor:pointer;
}
button.but:hover {
    background-color: #FF6761;
	color:#000;
 	/*border-bottom: 5px solid #002E40;*/
	cursor:pointer;
}



button.ordernow {
	margin:0 0 0 10px;
	  background-color: #002E40;
	  /*border-bottom: 2px solid #FF6761;*/
	  font-weight:700;
	  color: #FFF;
	  padding: 10px 15px 10px 15px;
	  text-align: center;
	  font-size:13px;
	  cursor:pointer;
}
button.ordernow:hover {
  	background-color: #FF6761;
	color:#002E40;
}



a.buttonwarenkorb {
  	cursor:pointer;
  	position:absolute;
  	bottom:5px;
  	right:5px;
	background-color: #002E40;
	font-family: Tahoma, Geneva, sans-serif, sans-serif;
	/*border-bottom: 2px solid #FF6761;*/
	color: #FFF;
	padding: 10px 15px 10px 15px;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	font- 
}

a.buttonwarenkorb:hover {
	padding: 10px 15px 10px 31px;
	background:url(images/cartsmaller.png) 7px 12px no-repeat;
	background-color: #FF6761;
	color:#002E40;
	
}



/* -------------- SITEOPTIONS ---------------*/

.siteoptions {
	margin:0 0 10px 240px;
	width:705px;
	height:43px;
	padding:12px 0px 0 0;
	font-size: 16px;
}

.sholder {
	float:right;
}

/*select {
	background: transparent;
   	padding: 5px 36px 5px 5px;
   	font-size: 13px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
   	line-height: 1;
   	border: 0;
   	border-radius: 0;
   	height: 30px;
   	-webkit-appearance: none;
	text-align:right;
}
.styled-select {
	float:right;
   	height: 30px;
   	overflow: hidden;
   	background: url(images/selectimage.png) no-repeat right ;
   }*/
   



.sort{
	float:right;
	padding: 5px 10px 0 0;
}

/* -------------- SITEOPTIONS ENDE ---------------*/



/* -------------- PRODUCTS ---------------*/

.shopproducts {
	margin:0;
}

li.productitem:hover{
	background:rgba(166,206,210,0.1);
	
}




.item {
	width:688px;
	border: 1px solid rgba(143,158,139,.2);
	margin-bottom:10px;
	clear:both;
}

.itemdescwrapper {
	padding:0 10px 10px 160px;
	height:140px;
	position:relative;
}

.itemimage {
	float:left;
	margin:8px;
}

.titel{
	font-weight:700;
	padding:6px 5px 5px 0;
	font-size:14px;
}

.description {
	line-height:140%;
	font-size:13px;
	margin-bottom:50px;
}

.preis {
	font-size:25px;
	font-weight:300;
	text-align:right;
	position:absolute;
	bottom:48px;
	right:5px;
}







/* -------------- PRODUCTS ENDE ---------------*/
.touchpoint {
	background:url(images/pointimage.png) 0 0 no-repeat;
	border:rgba(143,192,217,0.3) solid 1px;
	margin-bottom:30px;
}

.carticon {
	position:absolute;
	background:url(images/cart.png) no-repeat;
	right:20px;
	top:12px;
	width:28px;
	height:24px;
	}

.touchpointhead {
	padding:10px 0 0 12px;
	background-color:rgba(143,192,217,0.08);
	height:40px;
	color:rgba(0,46,64,0.8);
	font-size:19px;
	font-weight:700;
	position:relative;
	text-shadow: 1px 1px 0px #FFF;
}

.shoppingcart{
	width:666px;
	clear:both;
	margin:10px 10px 10px 10px;
	padding:0;
	border:1px solid rgba(166,206,210,0.1);
	/*background-color:rgba(0,0,0,0.04);
	background-color:rgba(166,206,210,0.1);*/
}



ul.searchLists {
	padding:0;
	margin:0;
	background-color:rgba(143,192,217,0.08);
	}
	


ul.searchLists li:nth-child(2n) {
	background-color:#FFF;
	/*border:1px solid rgba(166,206,210,0.4);*/
}




.searchListsinner {
	position:relative;
	height:42px;
}



.produkt {
	position:absolute;
	top:9px;
	left:15px;
}
.delete {
	position:absolute;
	top:9px;
	left:395px;
	width:17px;
	height:18px;
	cursor:pointer;
	background:url(images/delete.png) 0 0 no-repeat;
}

.delete:hover {
	background:url(images/deletehover.png) 0 0 no-repeat;
}

.count {
	position:absolute;
	top:12px;
	left:490px;	
}
.count .countbuttonless{
	width:20px;
	height:20px;
	background: url(images/remove_item.png) no-repeat;
	float:left;
	cursor:pointer;
}
.count .counttext{
	height:20px;
	float:left;
	line-height:15px;
	padding:0 5px 0 5px;
}
.count .countbuttonmore{
	width:20px;
	height:20px;
	background:url(images/add_item.png) no-repeat;
	float:left;
	cursor:pointer;
}

.price {
	position:absolute;
	top:9px;
	left:610px;
	
}


.produkthead{
	position:absolute;
	top:8px;
	left:15px;	
}
.deletehead{
	position:absolute;
	top:8px;
	left:380px;
	
}
.counthead{
	position:absolute;
	top:8px;
	left:497px;
	
}
.pricehead{
	position:absolute;
	top:8px;
	left:609px;
}

.searchListsinner#head {
	font-size:16px;
	font-weight:400;
	height:40px;
	color:#FF6761;
	background:#002E40 url(images/noisy_trans.png)
}




/*
.new li {
	background-color:#F00;
	margin:0 0 5px 0;
	
}
*/

/*
.searchLists li:nth-child(odd) { background-color:green }
.searchLists li:nth-child(even) { background-color:red }
.searchLists li:nth-child(odd) ul li:nth-child(odd)  { background-color:red }
.searchLists li:nth-child(odd) ul li:nth-child(even)  { background-color:green }
.searchLists li:nth-child(even) ul li:nth-child(odd)  { background-color:green }
.searchLists li:nth-child(even) ul li:nth-child(even)  { background-color:red}*/






.blue {
	text-shadow:-1px -1px 0 #2C7982;
	background: #3EACBA;
	border:1px solid #379AA4;
	background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:linear-gradient(top, #48C6D4, #3EACBA);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
	background: #48C6D4;
	background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:linear-gradient(top, #3EACBA, #48C6D4);
}







.kaufen {
	clear:both;
	float:right;
	margin:5px 26px 20px 0;
}

.searchListsinnerresult {
	height:42px;
	background-color:#E1EDAB;
	margin-bottom:15px;
}


.results {
	padding:0 0 0 0;
	position:relative;
}

.results .sum {
	position:absolute;
	top:10px;
	left:475px;	
	font-weight:700;

}
.results .price {
	position:absolute;
	top:10px;
	left:529px;
	width:110px;
	text-align:right;
}



.pagenavi {
	clear:both; 
	height:40px;
	padding:8px 8px 0 0;
	background-color:#FFF;
}

.sitenumbertext {
	float:right;
	margin-right:8px;
	font-size:12px;
}

.pagenumbers {
	float:right;
	font-size:11px;
	font-weight:300;
	margin-right:10px;
	
}

.pagenumbers ul {
	margin:0;
	background-color:#FFF;
}

.pagenumbers li {
	background:url(images/nav_clear.png) -1px 0px no-repeat;
	float:left;
	margin-right:5px;
	padding:1px 7px 1px 6px;
	cursor:pointer;
	line-height:15px;
	background-color:#FFF;
}

.pagenumbers li:hover {
	font-weight:700;
	cursor:pointer;
	background-color:#FFF;
}

.nextprev {
	line-height:10px;
	padding-top:2px;
	padding-bottom:3px;
}

.nextprev_inactive {
	color:#EEE;
}

.pageactive {
	font-weight:700;
}




.clear {clear:both;}






.touchmap{
	 margin:15px 0 0 0;
	 padding:10px;
	 background-color:#FDFDFD;
}

.orderdetails{
	padding:15px;

}

.map{
	width:646px;
	
}




p {
	padding:10px 0 0 0 ;
	margin:5px 0 5px 0;
}




p.attention {
	padding:8px 8px 8px 15px;
	margin: -15px -15px 0 -15px;
	background-color:#FF6761;
	color:#002E40;
	font-weight:700;
	font-size:16px;
}




ul.listoftouchpints {
	clear:both;

}

ul.listoftouchpints li{
	line-height:25px;
	float:left;
	margin-right:15px;
	padding-right:15px;
	border-right:1px solid #CCC;

}

ul.listoftouchpints li:last-child{
	border-right:0px;
}







footer {
	font-size:12px;
	margin: 0 10px 0 10px;
	padding: 0 0 20px 0;
	line-height:160%;
	clear:both;
}


/* ------------------------- LOGIN PANEL ----------------------- */



input[type=text], textarea, input[type=password] {
	border:1px solid #C5C5C5;
	border-radius: 2px;
	box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.35), 0px 0px 3px 0px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.35),0px 0px 3px 0px rgba(0, 0, 0, 0.2) inset;
	-webkit-border-radius: 2px;
	border:inset 2px solid rgb(231, 239, 241);
	font: normal 12px arial, helvetica;
	line-height:15px;
	
	width:229px;
	height:25px;
	padding:0 0 1px 7px;
	margin:0 0 10px 8px;
}


button.butlogin {
 
	  background-color: #002E40;
	  /*border-bottom: 2px solid #FF6761;*/
	  font-weight:700;
	  color: #FFF;
	  padding: 6px 10px 7px 10px;
	  text-align: center;
	  cursor:pointer;
  position:absolute;
  right:16px;
  top:125px;
}

button.butlogin:hover {
	background-color: #FF6761;
	color: #002E40;
}





.wrapper{
	margin:30px 0 30px 306px;
	padding:0;
	width:350px;
	border:1px solid #FF6761;
	 position:relative;
}

.head {
	width:335px;
	height:30px;
	background-color:#002E40;
	padding:12px 0 0 15px;
	font-weight:bold;
	color:#FFF;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}


.content {
	margin:15px;
}

label {
	line-height:12px;
	margin:9px 0 5px 0;
	font-size:12px;
	font-weight:bold;
	width:80px;
	display:block;
	float:left;
}


.underline {
	height:1px;
	background-color:#CCC;
	margin:35px 0 12px 0;
}




